.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.firtscolum {

}

.numbers-btn {
  height: 50px;
  width: 50px;
}

.display {
  height: 50px;
  width: 192px;
  font-size: 30px;
  text-align: right;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Buttons*/
.btn {
  width: 198px;
  height: 80px;
  font-size: 35px;
  background-color: white;
  border: 1px solid #000000;
  -moz-border-radius: 20px;
  -webkit-border-radius:20px;
  border-color: whitesmoke;
  margin-left: 0.1em;
  margin-bottom: 0.1em;
}
.screen {
  font-size: 50.8px;
  height: 90px;
  text-align: right;
  border-radius: 20px;
  margin-bottom: 0.2em;
  background-color: white;
  color: black;
}
.operators {
  color: green;
}
.cancel {
  color: red;
}
.equal {
  background-color: green;
  color: white;
}